.hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('../public/img/download\ \(1\).jpg');

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 100vh;
}
.heroText {
	padding-top: 6rem;
	padding-left: 3rem;

	color: white;
	h1 {
		font-size: 6rem;
	}
}
.socail {
	padding-left: 3rem;
	padding-top: 3rem;
	a {
		margin: 0.5rem;
		font-size: 2rem;
		border-radius: 12px;
	}
}
