/* Navbar */
@import './variable.scss';
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.7rem 2rem;
	z-index: 1;
	width: 100%;

	opacity: 0.9;

	i {
		font-size: 2rem;
		padding: 0.45rem;
		margin: 0 0.25rem;
	}

	ul {
		display: flex;
	}
	h1 {
		padding: 0.45rem;
		margin: 0 0.25rem;
	}

	a {
		padding: 0.45rem;
		margin: 0 0.25rem;
		font-size: 1.5rem;
	}
	a:hover {
		color: $lightColor;
	}
	.middle {
		li {
			padding-top: 1rem;
		}
	}
	.right {
		li {
			padding-top: 0.5rem;
		}
	}
}
